<section class="contact">
  <div class="top-contact">
    <h2>Contact
      <div class="o-line"></div>
    </h2>
  </div>
  <div class="bottom-contact">
    <div class="left-contact">
      <h3>Got a problem to solve?</h3>
      <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
        your
        projects with my work.</p>
      <p>Need a Frontend developer? <strong>Contact me!</strong></p>
    </div>
    <app-contact-form class="right-contact"></app-contact-form>
  </div>
  <div class="contact-shadow-container"></div>
</section>