<section class="contact-field">
  <div class="top-contact">
    <h2>{{ls.contact[ls.language]['contact']}}
      <div class="o-line"></div>
    </h2>
  </div>
  <div class="bottom-contact">
    <div class="left-contact">
      <h3>{{ls.contact[ls.language]['introHeadline']}}</h3>
      <p>{{ls.contact[ls.language]['introText']}}</p>
      <p>{{ls.contact[ls.language]['introFinal'] + ' '}}
        <strong>{{ls.contact[ls.language]['introFinalStrong']}}</strong></p>
    </div>
    <app-contact-form class="right-contact"></app-contact-form>
  </div>
  <div class="contact-shadow-container"></div>
</section>