<section class="about-me">
  <div class="about-me-container">
    <div class="about-me-text">
      <h2>{{ls.aboutMe[ls.language]['aboutMe']}}</h2>
      <p>{{ls.aboutMe[ls.language]['intro']}}</p>
      <ul>
        <li>
          <img src="assets/icons/location.png" alt="location">
          <p>{{ls.aboutMe[ls.language]['location']}}</p>
        </li>
        <li>
          <img src="assets\icons\bulp.png" alt="development">
          <p>{{ls.aboutMe[ls.language]['development']}}</p>
        </li>
        <li>
          <img src="assets/icons/jigsaw.png" alt="innovation">
          <p>{{ls.aboutMe[ls.language]['innovation']}}</p>
        </li>
      </ul>
    </div>
    <div class="img-side">
      <div class="about-me-image">
        <div class="o-line"></div>
      </div>
    </div>
  </div>
</section>