@import 'variables';

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 120px 0 32px 0;
  gap: 16px;

  h3 {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;

    .o-line-small-left {
      position: absolute;
      top: 20px;
      left: -1dvw;
      width: 3dvw;
      height: 4px;
      background-color: $secondary-color;
      transform: rotate(180deg);
      transform-origin: left center;
      z-index: -1;
    }

    .o-line-small-right {
      @extend .o-line-small-left;
      left: unset;
      right: -1dvw;
      transform-origin: right center;
    }
  }
}

app-project {
  width: 100%;
}

.top-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 32px;
  padding-bottom: 48px;

  h2 {
    position: relative;
    font-size: 80px;
    line-height: 1;

    .o-line {
      position: absolute;
      top: 40px;
      height: 4px;
      background-color: $secondary-color;
      transform: rotate(180deg);
      z-index: -1;
    }

    .left {
      left: -2dvw;
      width: 7dvw;
      transform-origin: left center;
    }

    .right {
      right: -2dvw;
      width: 50dvw;
      transform-origin: right center;
    }
  }

  p {
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
  }
}

.portfolio-shadow-container {
  position: absolute;
  top: 50%;
  left: -350px;
  width: 800px;
  height: 800px;
  z-index: -1;
  background-image: url("./../../../assets/img/shadow-portfolio.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 991.98px) {
  .top-portfolio {

    h2 {
      font-size: 64px;

      .o-line {
        top: 32px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .portfolio {
    h3 {
      font-size: 24px;

      .o-line-small-left {
        top: 16px;
      }
    }

    p {
      font-size: 16px;
    }


  }

  .top-portfolio {
    h2 {
      font-size: 48px;

      .o-line {
        top: 24px;
      }
    }
  }
}