<section class="portfolio">
  <div class="top-portfolio">
    <h2>Portfolio
      <div class="o-line left"></div>
      <div class="o-line right"></div>
    </h2>
    <p>{{ls.portfolio[ls.language]['intro']}}</p>
  </div>
  <h3>{{ls.portfolio[ls.language]['headerDone']}}
    <div class="o-line-small-left"></div>
    <div class="o-line-small-right"></div>
  </h3>
  @for(project of projectService.doneProjects; track $index) {
    <app-project [project]="project" [index]="$index" [disabled]="false" [language]="ls.language"></app-project>
  }
  @if(projectService.currentProjects.length > 0) {
    <h3>{{ls.portfolio[ls.language]['headerCurrent']}}
      <div class="o-line-small-left"></div>
      <div class="o-line-small-right"></div>
    </h3>
    @for(project of projectService.currentProjects; track $index) {
      <app-project [project]="project" [index]="$index + projectService.doneProjects.length" [language]="ls.language"
        [disabled]="true"></app-project>
    }
  }
  @if(projectService.futureProjects.length > 0) {
    <h3>{{ls.portfolio[ls.language]['headerFuture']}}
      <div class="o-line-small-left"></div>
      <div class="o-line-small-right"></div>
    </h3>
    @for(project of projectService.futureProjects; track $index) {
      <app-project [project]="project"
        [index]="$index + projectService.doneProjects.length + projectService.currentProjects.length"
        [language]="ls.language" [disabled]="true"></app-project>
    }
  }
  <div class="portfolio-shadow-container"></div>
</section>