@import 'variables';

.project {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 32px;
  padding-bottom: 32px;

  &.disabled {
    filter: grayscale(75%);
  }

  &.reverse {
    flex-direction: row-reverse;

    .text {
      align-items: flex-end;
      text-align: right;

      .buttons {
        flex-direction: row-reverse;
      }
    }
  }
}

img {
  width: 400px;
  max-width: 100%;
  height: auto;
}

.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;

  h3 {
    font-size: 32px;
    font-weight: 700;
    color: $secondary-color;
  }

  .tech {
    font-size: 24px;
    color: $primary-color;
    font-weight: 400;
  }

  .description {
    font-weight: 400;
  }

  .buttons {
    display: flex;
    gap: 72px;

    button {
      width: 152px;
      height: 56px;
      font-size: 24px;
      font-weight: 400;
    }

    .primary {
      background-color: $secondary-color;
      border-color: $secondary-color;

      &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        transform: scale(1);
      }
    }
  }
}

/*ANCHOR Media Query
/*XX-Large devices (larger desktops, 1400px and up)*/
/*No media query since the xxl breakpoint has no upper bound on its width*/

/*X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

  .text {
    .buttons {
      gap: 40px;

      button {
        width: 120px;
        height: 48px;
        font-size: 20px;
      }
    }
  }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

  .project {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;

    &.reverse {
      flex-direction: column;

      .text {
        align-items: center;
        text-align: center;

        .buttons {
          flex-direction: row;
        }
      }
    }
  }

  .text {
    width: 100%;
    align-items: center;
  }
}

/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}