<form (submit)="sendForm($event)">
  <div class="name-field">
    <label for="name"></label>
    <input placeholder="Your name" type="text" id="name" name="name" [(ngModel)]="name">
    <div class="error-field">
      <span [class.error-message]="errorName">please enter your name</span>
    </div>
  </div>
  <div class="email-field">
    <label for="email"></label>
    <input placeholder="Your email" type="email" id="email" name="email" [(ngModel)]="email">
    <div class="error-field">
      <span [class.error-message]="errorEmail">please enter a valid email</span>
    </div>
  </div>
  <div class="message-field">
    <label for="message"></label>
    <textarea placeholder="Your message" id="message" name="message" [(ngModel)]="message"></textarea>
    <div class="error-field">
      <span [class.error-message]="errorText">please enter a message</span>
    </div>
  </div>
  <div class="privacy-field">
    <label for="privacy">
      <div class="checkbox">
        <img [src]="privacyAccepted ? 'assets/icons/checkbox-checked.png' : 'assets/icons/checkbox.png'" alt="">
      </div>
      <span>I've read the
        <a class="a-privacy" href="privacy" target="_blank">privacy policy</a>
        and agree to the processing of my data as outlined.
      </span>
    </label>
    <input type="checkbox" id="privacy" name="privacy" [(ngModel)]="privacy"
      (ngModelChange)="privacyAccepted = !privacyAccepted">
    <div class="error-field">
      <span [class.error-message]="errorPrivacy">privacy policy not accepted</span>
    </div>
  </div>
  <div class="button-field">
    <button class="primary" type="submit">Send message</button>
  </div>

</form>