<form [formGroup]="contactMessage" (ngSubmit)="sendForm()">
  <div class="name-field">
    <label for="name"></label>
    <input placeholder="{{ls.contact[ls.language]['placeholderName']}}" id="name" type="text" name="name"
      formControlName="name" autocomplete="name">
    <div class="error-field">
      <span [class.error-message]="errorName">{{ls.contact[ls.language]['errorName']}}</span>
    </div>
  </div>
  <div class="email-field">
    <label for="email"></label>
    <input placeholder="{{ls.contact[ls.language]['placeholderEmail']}}" id="email" type="email" name="email"
      formControlName="email" autocomplete="email">
    <div class="error-field">
      <span [class.error-message]="errorEmail">{{ls.contact[ls.language]['errorEmail']}}</span>
    </div>
  </div>
  <div class="message-field">
    <label for="message"></label>
    <textarea placeholder="{{ls.contact[ls.language]['placeholderMessage']}}" id="message" name="message" name="message"
      formControlName="message"></textarea>
    <div class="error-field">
      <span [class.error-message]="errorText">{{ls.contact[ls.language]['errorText']}}</span>
    </div>
  </div>
  <div class="privacy-field">
    <label for="privacy">
      <div class="checkbox">
        <img [src]="privacyAccepted ? 'assets/icons/checkbox-checked.png' : 'assets/icons/checkbox.png'" alt="">
      </div>
      <span>{{ls.contact[ls.language]['privacy1'] + ' '}}
        <a class="a-privacy" href="privacy">{{ls.contact[ls.language]['privacyLink']}}</a>
        {{'' + ls.contact[ls.language]['privacy2']}}
      </span>
    </label>
    <input type="checkbox" id="privacy" name="privacy" formControlName="privacy"
      (ngModelChange)="privacyAccepted = !privacyAccepted">
    <div class="error-field">
      <span [class.error-message]="errorPrivacy">{{ls.contact[ls.language]['errorPrivacy']}}</span>
    </div>
  </div>
  <div class="button-field">
    <button class="primary" type="submit">{{ls.contact[ls.language]['button']}}</button>
  </div>
</form>
<app-contact-dialog [ngStyle]="{'display': submitSuccess ? 'block' : 'none'}"></app-contact-dialog>