@mixin back-arrow() {
  position: absolute;
  cursor: pointer;
  right: -8px;
}

.privacy {
  margin: 120px 0 80px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    font-size: 16px;
    line-height: 1.2;
  }

  h2 {
    margin-top: 24px;
  }

  ul,
  ol {
    margin: 0 0 1.5em 0;
    padding: 0;
    list-style-position: inside;
  }

  li {
    margin-bottom: 0.5em;
    padding-left: 2em;
  }
}

.back-arrow-top {
  @include back-arrow();
  top: 24px;

  img {
    @extend .back-arrow-img;
  }
}

.back-arrow-bottom {
  @include back-arrow();
  bottom: -72px;

  img {
    @extend .back-arrow-img;
  }
}

.back-arrow-img {
  width: 32px;
  height: 32px;
  transform: rotate(270deg);
}