@import 'variables';
$header-height: 120px;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: $header-height;
  z-index: 10;
  padding: 0 96px;

  .logo {
    position: relative;
    height: 80px;
    width: auto;
    cursor: pointer;
  }

  ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    list-style: none;
    font-size: 20px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .burger {
    display: none;
  }

  .language {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 32px;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }

    .language-menu {
      position: absolute;
      top: 32px;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 16px;
      width: 200px;
      transform-origin: top right;
      transform: scale(0);
      transition: transform 125ms ease-in-out;
      background-color: $background-color;
      border: 1px solid $primary-color;
      border-radius: 8px;

      p {
        font-size: 20px;
        cursor: pointer;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

@media (max-width: 1199.98px) {
  header {
    padding: 0 56px;
  }
}

@media (max-width: 991.98px) {
  header {
    padding: 0 32px;
  }
}

@media (max-width: 767.98px) {

  header {
    .burger {
      display: block;
    }

    ul {
      position: fixed;
      top: $header-height;
      right: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 24px;
      z-index: 1;
      padding: px 0;
      width: 100%;
      height: calc(100vh - $header-height);
      background-color: rgba(20, 29, 47, 0.9);
      transform: translateX(100%);
      transition: transform 125ms ease-in-out;

      &.active {
        transform: translateX(0);
      }

      .language {
        .language-menu {
          bottom: unset;
          right: 0;
          top: -88px;
          left: -88px;
          transform-origin: bottom center;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  header {
    padding: 0 16px;
  }
}