$header-height: 120px;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $header-height;
  position: sticky;
  top: 0;
  z-index: 10;

  .logo {
    position: relative;
    height: 80px;
    width: auto;
    cursor: pointer;
  }

  ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    list-style: none;
    font-size: 24px;
  }

  .burger {
    display: none;
  }
}

@media (max-width: 767.98px) {

  header {
    .burger {
      display: block;
    }

    ul {
      position: fixed;
      top: $header-height;
      right: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 24px;
      z-index: 1;
      padding: px 0;
      width: 100%;
      height: calc(100vh - $header-height);
      background-color: rgba(20, 29, 47, 0.9);
      transform: translateX(100%);
      transition: transform 125ms ease-in-out;

      &.active {
        transform: translateX(0);
      }
    }
  }
}