<header>
  <a class="logo" href="#">
    <img class="logo" src="assets/img/logo_jhro.png" alt="logo">
  </a>
  <nav>
    <img class="burger" (mouseover)="toggleBurger($event)" (mouseout)="toggleBurger($event)"
      (click)="toggleBurger($event)" [src]="burger" alt="">
    <ul [class.active]="burgerMenu">
      @for (link of headerLinks; track $index) {
        <li>
          <a class="a-text" (click)="main.scrollTo(link); checkBurgerMenu();">
            {{ ls.header[ls.language][link] }}
          </a>
        </li>
      }
      <li class="language" (click)="languageBurger ? languageBurger = false : languageBurger = true">
        <img [src]="languageBurger ? 'assets/icons/globe-hover.png' : 'assets/icons/globe.png'" alt="language">
        <div class="language-menu" [style.transform]="languageBurger ? 'scale(1)' : 'scale(0)'">
          <p (click)="$event.stopPropagation(); ls.setLanguage('de'); checkBurgerMenu();">
            Deutsch
          </p>
          <p (click)="$event.stopPropagation(); ls.setLanguage('en'); checkBurgerMenu();">
            English
          </p>
        </div>
      </li>
    </ul>
  </nav>
</header>