ul {
  display: flex;
  justify-content: space-between;
  width: 200px;
  gap: 16px;
  list-style: none;

  a {

    img {
      width: 32px;
      height: 32px;
      transition: all 125ms ease-in-out;

      &:hover {
        transform: scale(1.2);
      }

    }



  }
}