@import 'variables';

.landing-page {
  width: 100%;
  height: 100dvh;
  padding: 120px 0 16px 0;
  display: flex;
  flex-direction: column;
}

.welcome {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;

  .photo-shadows {
    position: absolute;
    left: -16px;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 800px;
    object-fit: contain;
  }

  .hero-image {
    position: absolute;
    left: 56px;
    right: 0;
    width: auto;
    height: 60dvh;
    object-fit: contain;
  }

  .hero-background {
    position: absolute;
    bottom: -30dvh;
    right: -96px;
    width: 100dvw;
    height: 100%;
    object-fit: fill;
  }
}

.hero-text-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 64px;
  z-index: 1;

  .hero-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    width: 100%;

    p:first-child {
      position: relative;
      left: 32px;
      font-size: 56px;
      font-weight: 400;
      transform: rotate(-90deg);
    }

    div {
      display: flex;
      flex-direction: column;
      font-size: 56px;

      h1 {
        font-size: 80px;
        line-height: 1;
      }

      p {
        color: $secondary-color;
        line-height: 1;
        font-weight: 400;
        font-size: 56px;
      }
    }
  }

  .filler {
    width: 100%;
    height: 0px;
    flex: 1;
  }

  .filler-2 {
    display: flex;
    justify-content: center;
    width: 700px;

    .primary {
      font-size: 24px;
      font-weight: 400;
      width: 160px;
      height: 64px;
    }
  }
}

.bottom-landing {
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .left-bottom {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 32px;
    width: 560px;

    .o-line {
      width: 96px;
      height: 4px;
      position: absolute;
      left: -96px;
      background-color: $secondary-color;
    }

    .a-text {
      font-size: 22px;
      font-weight: 400;
    }
  }

  .right-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    height: 100%;

    p {
      writing-mode: vertical-lr;
      font-size: 24px;
      font-weight: 300;
      min-height: 140px;
      cursor: default;
    }

    img {
      width: 36px;
      height: 36px;
      animation: scroll-down 1s ease-in-out infinite;
    }
  }
}

.about-me-shadow-container {
  position: absolute;
  top: 60dvh;
  right: -450px;
  width: 800px;
  height: 800px;
  z-index: -1;
  background-image: url("./../../../assets/img/shadow-about-me.png");
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(16px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1199.98px) {

  .hero {

    .photo-shadows {
      left: -32px;
      object-fit: cover;
    }

    .hero-image {
      left: 0;
      height: 60vh;
    }

    .hero-background {
      right: -56px;
    }
  }

  .hero-text-container {

    .hero-text {

      p:first-child {
        font-size: 48px;
      }

      div {
        font-size: 48px;

        h1 {
          font-size: 72px;
          letter-spacing: normal;
        }

        p {
          font-size: 48px;
        }
      }
    }
  }

  .filler-2 {
    width: 600px;
  }

  .bottom-landing {

    .left-bottom {
      width: 600px;

      .o-line {

        left: -56px;
      }
    }
  }

  .about-me-shadow-container {
    right: -500px;
  }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .welcome {
    flex-direction: column;
    justify-content: space-between;
  }

  .hero {
    position: relative;
    height: 70%;

    .photo-shadows {
      left: 0;
      object-fit: cover;
    }

    .hero-image {
      left: 0;
      height: 50vh;
      margin: 0 auto;
    }

    .hero-background {

      right: -32px;
    }
  }

  .hero-text-container {
    height: 30%;
    align-items: center;
    gap: 16px;

    .hero-text {
      justify-content: center;

      p:first-child {
        left: 16px;
        font-size: 40px;
      }

      div {
        font-size: 40px;

        h1 {
          font-size: 56px;
        }

        p {
          font-size: 40px;
        }
      }
    }

    .filler {
      display: none;
    }

    .filler-2 {
      width: 100%;
    }

  }

  .bottom-landing {

    .left-bottom {
      width: 624px;

      .o-line {
        left: -32px;
      }
    }
  }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

  .hero {

    .photo-shadows {
      position: relative;
      width: unset;
      object-fit: cover;
    }
  }

  .hero-text-container {
    height: 30%;
    align-items: center;

    .hero-text {

      p:first-child {
        left: 12px;
        font-size: 32px;
      }

      div {
        font-size: 32px;

        h1 {
          font-size: 48px;
        }

        p {
          font-size: 32px;
        }
      }
    }

    .primary {
      width: 120px;
      height: 48px;
      font-size: 20px;
    }
  }

  .bottom-landing {

    .left-bottom {
      width: 100%;
      justify-content: center;

      .a-text {
        display: none;
      }
    }

    .right-bottom {
      display: none;
    }
  }

  .about-me-shadow-container {
    right: -475px;
  }
}

/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .welcome {

    .hero {

      .hero-image {
        height: 50dvh;
        left: -15dvw;
        top: 0
      }

      .hero-background {
        right: -16px;
        bottom: -25dvh;
      }
    }

    .hero-text-container {
      height: 30%;
      align-items: center;
      gap: 24px;
    }

    .hero-text {

      p:first-child {
        left: 8px;
        font-size: 22px;
      }

      div {
        font-size: 20px;

        h1 {
          font-size: 32px;
        }

        p {
          font-size: 22px;
        }
      }
    }
  }

  .bottom-landing {

    .left-bottom {
      justify-content: flex-end;

      .o-line {
        left: -16px;
      }
    }
  }

  .about-me-shadow-container {
    right: -525px;
  }
}