@import 'variables';

@mixin skillContainer() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  gap: 16px;
  text-align: right;
}

.skills {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 24px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "skills . top-skill" "skills . bottom-skill";
  width: 100%;
  padding: 120px 0 32px 0;
}

.top-skill {
  grid-area: top-skill;
  @include skillContainer();
  justify-content: flex-start;


  h2 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
  }

  p {
    font-size: 16px;
    font-weight: 400;

  }

  .o-line {
    width: 64px;
    height: 4px;
    position: absolute;
    top: 40px;
    right: -96px;
    background-color: $secondary-color;
  }
}

.bottom-skill {
  grid-area: bottom-skill;
  @include skillContainer();

  h3 {
    font-size: 32px;
    font-weight: 700;
  }

  span {
    color: $secondary-color;
  }

  p {
    font-size: 16px;
    font-weight: 400;
  }

  .primary {
    width: 196px;
    height: 56px;
    font-size: 24px;
    font-weight: 400;
  }
}

app-skill-collection {
  grid-area: skills;
}

@media (max-width: 1199.98px) {

  .top-skill {

    .o-line {
      right: -56px;
      width: 48px;
    }
  }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

  .top-skill {
    h2 {
      font-size: 64px;
    }

    .o-line {
      top: 32px;
      right: -32px;
      width: 24px;
    }
  }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 48px;
  }

  .top-skill {
    gap: 48px;

    h2 {
      font-size: 48px;
    }

    .o-line {
      top: 24px;
    }
  }
}

/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

  .top-skill {

    .o-line {
      right: -16px;
      width: 12px;
    }
  }
}