<div class="skills">
  <div class="top-skill">
    <h2>My skills</h2>
    <p>I have gained experience in building projects with different frontend technologies and concepts.</p>
    <div class="o-line"></div>
  </div>

  <app-skill-collection></app-skill-collection>

  <div class="bottom-skill">
    <h3>Looking for <span>another skill</span>?</h3>
    <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
    <button class="primary">Get in touch</button>
  </div>
</div>