@mixin back-arrow() {
  right: 24px;
  position: absolute;
  cursor: pointer;
}

.imprint {
  margin: 120px 0 32px 0;
  position: relative;
}

ul,
ol {
  margin: 0 0 1.5em 0;
  padding: 0;
  list-style-position: inside;
}

li {
  margin-bottom: 0.5em;
  padding-left: 2em;
}

.back-arrow-img {
  width: 32px;
  height: 32px;
  transform: rotate(270deg);
}

.back-arrow-top {
  @include back-arrow();
  top: 24px;

  img {
    @extend .back-arrow-img;
  }
}

.back-arrow-bottom {
  @include back-arrow();
  bottom: -8px;

  img {
    @extend .back-arrow-img;
  }
}