<section class="landing-page">
  <div class="welcome">
    <div class="hero">
      <img class="photo-shadows hero-shadow" src="assets/img/photo_shadows.png" alt="">
      <img class="hero-image" src="assets/img/hero.png" alt="">
      <img class="hero-background" src="assets/img/hero_Background.png" alt="">
    </div>
    <div class="hero-text-container">
      <div class="hero-text">
        <p>I am</p>
        <div>
          <h1>Jan Holtschke</h1>
          <p>FRONTEND DEVELOPER</p>
        </div>
      </div>
      <div [ngStyle]="{'display': 'flex', width: '100%'}">
        <div class="filler"></div>
        <div class="filler-2">
          <button class="primary">Let's talk!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-landing">
    <div class="left-bottom">
      <div class="oline"></div>
      <app-social-links></app-social-links>
      <a class="a-text" href="mailto:kontakt@jan-holtschke.de">kontakt&commat;jan-holtschke.de
      </a>
    </div>
    <div class="right-bottom">
      <p>Scroll down</p>
      <img src="assets/icons/arrow-down-line.png" alt="">
    </div>
  </div>
  <div class="about-me-shadow-container"></div>
</section>