<section class="landing-page">
  <div class="welcome">
    <div class="hero">
      <img class="photo-shadows hero-shadow" src="assets/img/photo_shadows.png" alt="">
      <img class="hero-image" src="assets/img/hero.png" alt="">
      <img class="hero-background" src="assets/img/hero_Background.png" alt="">
    </div>
    <div class="hero-text-container">
      <div class="hero-text">
        <p>I am</p>
        <div>
          <h1>Jan Holtschke</h1>
          <p>FRONTEND DEVELOPER</p>
        </div>
      </div>
      <button class="primary">Let's talk!</button>
    </div>
  </div>
</section>