<section class="skills">
  <div class="top-skill">

    <h2>{{ls.skills[ls.language]['skills']}}
      <div class="o-line"></div>
    </h2>
    <p>{{ls.skills[ls.language]['experience']}}</p>
  </div>
  <app-skill-collection></app-skill-collection>
  <div class="bottom-skill">
    <h3> {{ls.skills[ls.language]['search'] + ' '}}<span>{{ls.skills[ls.language]['searchHighlight']}}</span>?</h3>
    <p>{{ls.skills[ls.language]['find']}}</p>
    <button class="primary" (click)="main.scrollTo('contact')">{{ls.skills[ls.language]['button']}}</button>
  </div>
  <div class="skills-shadow-container"></div>
</section>